// @font-face {
//   font-family: 'SUITE-Regular';
//   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
//   font-weight: 400;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'omyu_pretty';
//   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
//   font-weight: normal;
//   font-style: normal;
// }

#sct1 {
  //background: #000;
  position: relative;

  // .ctCircle{
  //   position: absolute;
  //   width: 30%;
  //   height: 50%;
  //   border-radius: 50%;
  //   background: #ffffff;
  //   left: 50%;
  //   top: 50%;
  //   transform: translate(-50%,-50%);
  // }
  .txtBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 50%;

    a {
      font-size: 75px;
      font-family: 'SUITE-Regular';
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 1px;
      color: #ffffff;
      ;
      z-index: 1;
    }
  }
}
video{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-size: 100% 100%;
 		background-color: black; /* in case the video doesn't fit the whole page*/
  		background-position: center center;
  		background-size: contain;
   		object-fit: cover; 
      &#myVideo{
        opacity: .7;
      }&#myVideo2{
        opacity: .7;
      }
}
.scr{
  width:42px;
  height: 70px;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  background: url(../images/ico_scroll.png)center;
  animation: bounce 1s  linear infinite alternate;
    transform-origin: center bottom;
}
@keyframes bounce {
  from{transform: translateY(0);}
    to{transform: translateY(20px);}
  } 
#sct2 {
  position: relative;
.container{
  max-width: 1800px;
  margin: auto;
  height: 100%;
}
  .sct2Bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    overflow: hidden;
    .sct2Bg-swiper{
      height: 100%;
      .swiper-slide{
        width: 100%;
          height: 100%;
          img{
            max-width: unset;
            width: 100%;
            height: 100%;
          }
      }
    }
  }

  .workSlide {
    padding-top: 10% ;
   height: 100%;

    .work-swiper {
 overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    padding: 0 39px;
      .swiper-slide {
        max-width: 600px;
        // min-height: 400px;

        &.swiper-slide-next {
          .workwrap {
            transform: translateY(90px);
            transition: .9s;
          }
        }
       
      }
      .slide_btn_wrap{
        position: absolute;
        height: 70px;
        left: 50%;
        transform: translateX(-50%);
        bottom: 15%;
        z-index: 30;
        .slide_btn{
          display: flex;
        justify-content: center;
        gap: 40px;
        }
        .prev_btn{
          width: 70px;
          height: 70px;
          background: url(../images/prev.png) no-repeat center / cover;
          cursor: pointer;
        }
        .next_btn{
          width: 70px;
          height: 70px;
          background: url(../images/next.png) no-repeat center / cover;
          cursor: pointer;
        }
      }
      .workwrap {
        border: 1px solid #ffffffc0;
        border-radius: 8px;
        transform: translateY(20px);
        transition: .5s;
        position: relative;
        overflow: hidden;
        p{
          position: relative;
         z-index: 1;
         padding:0 20px 35%;
         display: flex;
         align-items: center;
         gap: 20px;
        
        transform: translateY(25%);
         transition: .5s;
          span{
          color: #fff;
          display: block;
        &.num {
          display: inline-block;
          font-size: 100px;
          font-family: 'NanumBarunGothic';
          font-weight: 700;
          justify-self: center;
          color: transparent;
          -webkit-text-stroke: 1px #ffffff;
          -webkit-text-fill-color: transparent;
          transition: .3s;
          
        }
}
        }
        
        .hoverdir {
          position: absolute;
          border-radius: 10px;
          height: 100%;
          width: 100% !important;
          .work_thm {
            position: relative;
            width: 100%;
            height: 100%;
            img{
              position: absolute;
              width: 100%;
              height: 100%;
            }
            .dim{
              position: absolute;
              width: 100%;
              height: 100%;
              background:rgba(0, 0, 0, 0.3);
            }
          }

          a {
            height: 100%;
            position: relative;
            .hoTit {
              position: absolute;
              //background: rgba(216, 200, 241, 0.5);
              width: 100%;
              height: 100%;
            }
          }
        }
        &.on{
          border: none;
          box-shadow:15px 25px 20px 10px #00000050 ;
          p{
            transform: translateY(-1%);
            span{
              &.num{
                -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-text-stroke:1px rgba(255, 255, 255, 0);
  transition: .3s;
              }
            }
          }
        }
        &.mob_bg{
          &.keci_th{
            background: url(../images/thmb/keci.png)no-repeat center/cover;
          }
          &.mf_th{
            background: url(../images/thmb/mofa.png)no-repeat center/cover;
          }
          &.asf_th{
            background: url(../images/thmb/asf.png)no-repeat center/cover;
          }
          &.tta_th{
            background: url(../images/thmb/tta.png)no-repeat center/cover;
          }
          &.ansan_th{
            background: url(../images/thmb/ansanebook.png)no-repeat center/cover;
          }
          &.mvot_th{
            background: url(../images/thmb/mvoting.png)no-repeat center/cover;
          }
          &.yeyak_th{
            background: url(../images/thmb/yeyak.png)no-repeat center/cover;
          }
          &.yums_th{
            background: url(../images/thmb/yum.png)no-repeat center/cover;
          }
          &.del_th{
            background: url(../images/thmb/delmonte.png)no-repeat center/cover;
          }
          &.arte_th{
            background: url(../images/thmb/arte.png)no-repeat center/cover;
          }
          &.hdc_th{
            background: url(../images/thmb/hyundaicard.png)no-repeat center/cover;
          }
          &.lgchem_th{
            background: url(../images/thmb/lgchem.png)no-repeat center/cover;
          }
          &.bam_th{
            background: url(../images/thmb/bam.png)no-repeat center/cover;
          }
          &.nuxe_th{
            background: url(../images/thmb/nuxe.png)no-repeat center/cover;
          }
          &.wmpo_th{
            background: url(../images/thmb/wema.png)no-repeat center/cover;
          }
          &.lotte_th{
            background: url(../images/thmb/lotte.png)no-repeat center/cover;
          }
          &.lush_th{
            background: url(../images/thmb/lush.png)no-repeat center/cover;
          }
          &.lotteht_th{
            background: url(../images/thmb/lottehotel.png)no-repeat center/cover;
          }
          &.coca_th{
            background: url(../images/thmb/cocacola.png)no-repeat center/cover;
          }
          &.rar_th{
            background: url(../images/thmb/roundaround.png)no-repeat center/cover;
          }
          &.bay_th{
            background: url(../images/thmb/bay.png)no-repeat center/cover;
          }
          &.aroma_th{
            background: url(../images/thmb/aromatica.png)no-repeat center/cover;
          }
          &.krispy_th{
            background: url(../images/thmb/krispy.png)no-repeat center/cover;
          }
          &.jomal_th{
            background: url(../images/thmb/jomalone.png)no-repeat center/cover;
          }
          &.sucamp_th{
            background: url(../images/thmb/super.png)no-repeat center/cover;
          }
          &.yes24_th{
            background: url(../images/thmb/yes24.png)no-repeat center/cover;
          }
          &.ace_th{
            background: url(../images/thmb/acebed.png)no-repeat center/cover;
          }
          &.jwe_th{
            background: url(../images/thmb/jwe.png)no-repeat center/cover;
          }
          &.auntie_th{
            background: url(../images/thmb/auntie.png)no-repeat center/cover;
          }
          &.stx_th{
            background: url(../images/thmb/stx.png)no-repeat center/cover;
          }
          &.fss_th{
            background: url(../images/thmb/fursys.png)no-repeat center/cover;
          }
          &.wd_th{
            background: url(../images/thmb/woodam.png)no-repeat center/cover;
          }
          &.mogo_th{
            background: url(../images/thmb/mugo.png)no-repeat center/cover;
          }
          &.br_th{
            background: url(../images/thmb/br.png)no-repeat center/cover;
          }
          &.tbr_th{
            background: url(../images/thmb/tamburins.png)no-repeat center/cover;
          }
          &.sabon_th{
            background: url(../images/thmb/sabon.png)no-repeat center/cover;
          }
          &.dior_th{
            background: url(../images/thmb/dior.png)no-repeat center/cover;
          }
          &.nd_th{
            background: url(../images/thmb/newdin.png)no-repeat center/cover;
          }
          &.inch_th{
            background: url(../images/thmb/incheon.png)no-repeat center/cover;
          }
          &.artisee_th{
            background: url(../images/thmb/artisee.png)no-repeat center/cover;
          }
          &.bnf_th{
            background: url(../images/thmb/benefit.png)no-repeat center/cover;
          }
        }
        &.noho{
          cursor: default;
        }
      }
    }
  }




  .work-swiper img {
    width: 100%;
    border-radius: 10px;
  }

  .swiper-scrollbar {
    width: 100%;
    height: 5px;
    bottom: -100px;
  }

  .txt {
    display: flex;
  }
}

// sct3
#sct3{
  display: flex;
  align-items: center;
}
.bar_wrap{
  max-width: 800px;
  padding: 20px;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
}
ul.bar{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;

li{
 // width: 25%;
  text-align: center;
  p{
    color: #fff;
    font-family: 'LeferiPoint-WhiteObliqueA';
  }
  .progress{
    margin: 20px auto;
  width: 150px;
  height: 150px;
  position: relative;
  p.per{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  }
}
}
svg{stroke-linecap:round}
#sct3{
  //background: #205993;
  background: #000000;
}

.abt_wrap{
  width: 100%;
  display: flex;
  .abtimg_wrap{
    width: 50%;
  }
  .abt_img{
    height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background: url(../images/abt_bl.jpg)no-repeat center / cover;
   
  img{
    max-width: 500px;
    width: 60%;
  }
  }
  .abt_img02{
    height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background: url(../images/abt02_bl.png)no-repeat center / cover;
   
  img{
    max-width: 500px;
    width: 60%;
  }
  }
  .abt_txt{
    width: 50%;
    background: #000;
    .abt_me{
      margin: 10% auto ;
      padding: 30px;
      width: 70%;
      border: 1px solid #fff;
      border-radius: 25px;
      color: #fff;
      .abt_title{
        display: block;
        font-size: 25px;
        font-weight: 600;
        padding: 30px 0;
      }
      P{
        font-size: 18px;
      }
      ul{
        li{
          font-size: 18px;
          padding-bottom: 20px;
          span{
            display: block;
          }
        }
      }
    }
  }
}


b{
  display: inline-block;
}

@media screen and (max-width:1024px) {
  .bar_wrap{
    justify-content: center;
  }
  ul.bar{
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 70px 0;
    li{
      .progress{
        width: 120px;
        height: 120px;
        margin: 0 auto 20px;
      }
    }
  }
  .abt_wrap{
    width: 100%;
    flex-wrap: wrap;
    .abtimg_wrap{
      width: 100%;
      display: flex; 
      .abt_img{
      width: 50%;
      height: 70vh;
    }
    .abt_img02{
      width: 50%;
      height: 70vh;
    }
    }
   .abt_txt{
    width: 100%;
   }
  }

}

@media screen and (max-width:800px){
  #sct2 .workSlide .work-swiper{
    padding: 0 24px;
  }
  
}
@media screen and (max-width:720px) {
  #sct1 .txtBox a{
    font-size: 40px;
  }
  #sct2 .workSlide .work-swiper .swiper-slide-active .workwrap{
    box-shadow:15px 25px 20px 10px #00000050 ;
  }
  #sct2 .workSlide .work-swiper .workwrap{
    border: none;
    &::after{
      content: '';
     position: absolute;
     width: 100%;
     height: 100%;
     background: #00000038;
     top: 0;
     left: 0;
    }
  }
  // #sct2 .workSlide .work-swiper .workwrap.on{
  //   box-shadow: none;
  // }
  #sct2 .workSlide .work-swiper .workwrap p{
    transform: translateY(-1%);
  }
  #sct2 .workSlide .work-swiper .workwrap p span.num{
    font-size: 13vw;
    -webkit-text-fill-color: #ffffff;
  }
  ul.bar{
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    li{
      .progress{
        width: 100px;
        height: 100px;
      }
    }
  }
  .abt_wrap{
    .abtimg_wrap{
      flex-wrap: wrap;
      .abt_img{
      width: 100%;
      height: 70vh;
    }
    .abt_img02{
      width: 100%;
      height: 70vh;
    }
    }
    
  }


}

@media screen and (max-width:500px){
  header nav ul li a{
    font-size: 16px;
  }
  
  #sct2 .workSlide .work-swiper .workwrap.on p{
    transform: unset;
  }
  #sct2 .workSlide .work-swiper .workwrap p{
    flex-direction: column;
    transform: unset;
    padding: 0 20px 4.5%;
    align-items: flex-start;
    gap: 10px;

    span.tBox{
      height: 100px;
    }
  }
}