@charset "UTF-8";
@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/Pretendard-Thin.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Pretendard-Thin.eot") format("embedded-opentype"), url("../fonts/Pretendard-Thin.woff2") format("font-woff2"), url("../fonts/Pretendard-Thin.woff") format("woff"), url("../fonts/Pretendard-Thin.ttf") format("truetype"), url("../fonts/Pretendard-Thin.svg") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/Pretendard-ExtraLight.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Pretendard-ExtraLight.eot") format("embedded-opentype"), url("../fonts/Pretendard-ExtraLight.woff2") format("font-woff2"), url("../fonts/Pretendard-ExtraLight.woff") format("woff"), url("../fonts/Pretendard-ExtraLight.ttf") format("truetype"), url("../fonts/Pretendard-ExtraLight.svg") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Pretendard-Light.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Pretendard-Light.eot") format("embedded-opentype"), url("../fonts/Pretendard-Light.woff2") format("font-woff2"), url("../fonts/Pretendard-Light.woff") format("woff"), url("../fonts/Pretendard-Light.ttf") format("truetype"), url("../fonts/Pretendard-Light.svg") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "pretendard-R";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Pretendard-Regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Pretendard-Regular.eot") format("embedded-opentype"), url("../fonts/Pretendard-Regular.woff2") format("font-woff2"), url("../fonts/Pretendard-Regular.woff") format("woff"), url("../fonts/Pretendard-Regular.ttf") format("truetype"), url("../fonts/Pretendard-Regular.svg") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Pretendard-Medium.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Pretendard-Medium.eot") format("embedded-opentype"), url("../fonts/Pretendard-Medium.woff2") format("font-woff2"), url("../fonts/Pretendard-Medium.woff") format("woff"), url("../fonts/Pretendard-Medium.ttf") format("truetype"), url("../fonts/Pretendard-Medium.svg") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Pretendard-SemiBold.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Pretendard-SemiBold.eot") format("embedded-opentype"), url("../fonts/Pretendard-SemiBold.woff2") format("font-woff2"), url("../fonts/Pretendard-SemiBold.woff") format("woff"), url("../fonts/Pretendard-SemiBold.ttf") format("truetype"), url("../fonts/Pretendard-SemiBold.svg") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "pretendard-B";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Pretendard-Bold.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Pretendard-Bold.eot") format("embedded-opentype"), url("../fonts/Pretendard-Bold.woff2") format("font-woff2"), url("../fonts/Pretendard-Bold.woff") format("woff"), url("../fonts/Pretendard-Bold.ttf") format("truetype"), url("../fonts/Pretendard-Bold.svg") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Pretendard-ExtraBold.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Pretendard-ExtraBold.eot") format("embedded-opentype"), url("../fonts/Pretendard-ExtraBold.woff2") format("font-woff2"), url("../fonts/Pretendard-ExtraBold.woff") format("woff"), url("../fonts/Pretendard-ExtraBold.ttf") format("truetype"), url("../fonts/Pretendard-ExtraBold.svg") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Pretendard-Black.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Pretendard-Black.eot") format("embedded-opentype"), url("../fonts/Pretendard-Black.woff2") format("font-woff2"), url("../fonts/Pretendard-Black.woff") format("woff"), url("../fonts/Pretendard-Black.ttf") format("truetype"), url("../fonts/Pretendard-Black.svg") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "jalnan";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Jalnan.eot");
  src: local(""), url("../fonts/Jalnan.eot") format("embedded-opentype"), url("../fonts/Jalnan.woff2") format("font-woff2"), url("../fonts/Jalnan.woff") format("woff"), url("../fonts/Jalnan.ttf") format("truetype"), url("../fonts/Jalnan.svg") format("svg");
}
/********* reset.css **********/
html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  line-height: 150%;
}

html, body {
  width: 100%; /*  height: 100%; */
}

body {
  font-size: 16px;
  font-family: "pretendard-R", "Noto Sans", "sans-serif";
  letter-spacing: 0em;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1rem;
  font-weight: normal;
  line-height: 150%;
}

ul, ol, li {
  list-style-type: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
}

img {
  max-width: 100%;
  border: 0;
  vertical-align: middle;
}

p {
  max-height: 9999px;
}

address {
  font-style: normal;
}

button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0 none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
  cursor: pointer;
}

caption, legend {
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  margin: -1px;
}

.hide {
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  margin: -1px;
  position: absolute;
  left: 0;
  right: 0;
}

.clear {
  clear: both;
  display: block;
  content: "";
  overflow: hidden;
}

.br {
  display: block;
}

table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

select::-ms-expand {
  display: none;
}

input::-ms-check {
  display: none;
}

form {
  display: block;
  width: 100%;
}

input, select, textarea {
  padding: 0 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
  width: 100%;
  display: block;
  border: 0;
  font-family: inherit;
}

.ml10 {
  margin-left: 10px;
}

.ml20 {
  margin-left: 20px;
}

.ml25 {
  margin-left: 25px;
}

.ml30 {
  margin-left: 30px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.mt50 {
  margin-top: 50px;
}

.mr40 {
  margin-right: 40px;
}

.mb0 {
  margin-bottom: 0 !important;
}

.mb25 {
  margin-bottom: 25px !important;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb60 {
  margin-bottom: 60px;
}

.mb120 {
  margin-bottom: 120px;
}

.pt40 {
  padding-top: 40px !important;
}

.pb0 {
  padding-bottom: 0 !important;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.bo_l {
  border-left: 1px solid #999999;
}

.bo_r {
  border-right: 1px solid #999999;
}

.bo_t_blue {
  border-top: 2px solid #7aa0ff !important;
}

/*clear*/
/*요소중앙정렬*/
/*아이템 정렬*/
body {
  font-family: "pretendard-R";
  overflow-x: hidden;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: auto;
}

header {
  width: 100%;
  height: 104px;
  padding: 20px;
  position: fixed;
  z-index: 999;
}
header nav {
  height: 100%;
}
header nav ul {
  height: 100%;
  gap: 20px;
  color: #fff;
  align-items: center;
}
header nav ul li {
  position: relative;
}
header nav ul li::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0%;
  background: #fff;
  transition: 0.5s;
}
header nav ul li a {
  font-size: 20px;
  font-family: "pretendard-B";
}
header nav ul li.active::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background: #fff;
}

header.hd_bg {
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  background: rgba(248, 248, 248, 0.031372549);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

#sct3 {
  background: #000;
}

.section {
  width: 100%;
}

footer {
  background: #181818;
  padding: 50px;
}
footer p {
  color: #fff;
}
footer .container {
  height: 100%;
  justify-content: space-between;
}

.top_btn {
  position: fixed;
  bottom: 130px;
  right: 150px;
  display: none;
  z-index: 999;
}

.flex {
  display: flex;
  align-items: center;
}

b {
  line-height: 150%;
  display: block;
}

@media screen and (max-width: 1200px) {
  header .container {
    padding: 20px;
  }
  footer .container {
    padding: 42px 20px;
  }
}
@media screen and (max-width: 1024px) {
  header {
    height: 70px;
  }
}
@media screen and (max-width: 720px) {
  header .container {
    padding: 20px 24px 28px;
    flex-wrap: wrap;
    gap: 20px 0;
  }
  header .container .logo_sch {
    width: unset;
    height: unset;
    order: 1;
  }
  header .container .logo_sch .logo {
    display: none;
  }
  header .container .logo_sch .m_logo {
    display: block;
  }
  header .container .search {
    order: 3;
    width: 100%;
  }
  header .container .search .search_bar button {
    width: 24px;
    height: 24px;
    padding: 0;
    border: none;
    background: url(../images/m_search_ico.png) no-repeat center;
    margin-left: 24px;
    cursor: pointer;
  }
  header .container .search .search_bar input {
    padding: 0 10px;
  }
  header .container .info {
    order: 2;
    background: #F7F7F8;
    border-radius: 24px;
    gap: unset;
    padding: 0 6px;
  }
  header .container .info a {
    color: #484B51;
    font-size: 0.8125em;
    position: relative;
    padding: 6px 8px;
    font-weight: 400;
  }
  header .container .info a:first-child:after {
    content: "";
    width: 1px;
    height: 10px;
    background: #DDE1E4;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  header .container .info a.on, header .container .info a:hover {
    text-decoration: unset;
    text-underline-position: unset;
    color: #000000;
    font-weight: 500;
  }
}
#sct1 {
  background: #000;
  position: relative;
  overflow: hidden;
  height: 100vh;
}
#sct1 .txtBoxWrap {
  margin: 0 auto;
  display: flex;
  max-width: 900px;
  height: 100%;
  align-items: center;
  flex-direction: column;
  padding: 120px 50px;
  gap: 190px;
  align-items: center;
  justify-content: center;
}
#sct1 .txtBoxWrap .txtBox {
  position: relative;
  width: 100%;
  font-size: 75px;
  font-family: "pretendard-B";
  color: #ffffff;
  z-index: 1;
  text-align: start;
}
@keyframes fadeDown {
  0% {
    transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes line {
  0% {
    height: 0;
  }
  100% {
    height: 170px;
  }
}
#sct1 .txtBoxWrap .txtBox span {
  line-height: 1.2;
  transform: translateY(-60px);
  opacity: 0;
  animation: fadeDown 0.6s linear forwards;
  display: block;
}
#sct1 .txtBoxWrap .txtBox span:nth-child(1) {
  animation-delay: 0.5s;
}
#sct1 .txtBoxWrap .txtBox span:nth-child(2) {
  animation-delay: 1s;
}
#sct1 .txtBoxWrap .txtBox span:nth-child(3) {
  animation-delay: 1.5s;
}
#sct1 .txtBoxWrap .txtBox span:nth-child(4) {
  animation-delay: 2s;
}
#sct1 .txtBoxWrap .txtline em {
  height: 0px;
  width: 1px;
  animation: line 0.6s 2.5s linear forwards;
  background: rgba(255, 255, 255, 0.4039215686);
  position: absolute;
  top: 10px;
  left: 0;
}
#sct1 .txtBoxWrap .txtBox2 {
  width: 100%;
  font-size: 25px;
}
#sct1 .txtBoxWrap .txtBox2 span {
  opacity: 0;
  color: #fff;
  word-break: keep-all;
  animation: fadeDown 0.6s linear forwards;
  text-align: left;
  display: block;
}
#sct1 .txtBoxWrap .txtBox2 span:nth-child(1) {
  animation-delay: 3.5s;
}
#sct1 .txtBoxWrap .txtBox2 span:nth-child(2) {
  animation-delay: 4s;
}
#sct1 .txtBoxWrap .txtBox2 span:nth-child(3) {
  animation-delay: 4.5s;
}
#sct1 .txtFlowWrap {
  transform: rotate(-45deg);
  position: absolute;
  width: 100%;
  left: 60%;
  bottom: 100px;
  transform-origin: top left;
}
#sct1 .txtFlowWrap .wrapBox {
  position: absolute;
  right: 0;
  display: flex;
  width: 100%;
}
#sct1 .txtFlowWrap .wrapBox .flowList {
  display: flex;
  flex-shrink: 0;
}
#sct1 .txtFlowWrap .wrapBox .flowList .flow {
  font-family: "pretendard";
  display: inline-block;
  font-size: 190px;
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke: 2px rgb(134, 132, 211);
  opacity: 0.7;
  white-space: nowrap;
  line-height: 100%;
  font-style: italic;
}
@keyframes rolling1 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  50.01% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes rolling2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}
#sct1 .flowList.original {
  animation: rolling1 40s linear infinite;
}
#sct1 .flowList.clone {
  animation: rolling2 40s linear infinite;
}
#sct1 .scr {
  width: 42px;
  height: 70px;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  background: url(../images/ico_scroll.png) center;
  animation: bounce 1s linear infinite alternate;
  transform-origin: center bottom;
}

@keyframes bounce {
  from {
    transform: translate(-50%, 0);
  }
  to {
    transform: translate(-50%, 20px);
  }
}
#sct2 {
  position: relative;
  height: 100vh;
}
#sct2 .container {
  max-width: 1800px;
  margin: auto;
  height: 100%;
}
#sct2 .sct2Bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  overflow: hidden;
}
#sct2 .sct2Bg .sct2Bg-swiper {
  height: 100%;
}
#sct2 .sct2Bg .sct2Bg-swiper .swiper-slide {
  width: 100%;
  height: 100%;
}
#sct2 .sct2Bg .sct2Bg-swiper .swiper-slide img {
  max-width: unset;
  width: 100%;
  height: 100%;
}
#sct2 .workSlide {
  padding-top: 10%;
  height: 100%;
}
#sct2 .workSlide .work-swiper {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  padding: 0 39px;
}
#sct2 .workSlide .work-swiper .swiper-slide {
  max-width: 600px;
}
#sct2 .workSlide .work-swiper .swiper-slide.swiper-slide-next .workwrap {
  transform: translateY(90px);
  transition: 0.9s;
}
#sct2 .workSlide .work-swiper .slide_btn_wrap {
  position: absolute;
  height: 70px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15%;
  z-index: 30;
}
#sct2 .workSlide .work-swiper .slide_btn_wrap .slide_btn {
  display: flex;
  justify-content: center;
  gap: 40px;
}
#sct2 .workSlide .work-swiper .slide_btn_wrap .prev_btn {
  width: 70px;
  height: 70px;
  background: url(../images/prev.png) no-repeat center/cover;
  cursor: pointer;
}
#sct2 .workSlide .work-swiper .slide_btn_wrap .next_btn {
  width: 70px;
  height: 70px;
  background: url(../images/next.png) no-repeat center/cover;
  cursor: pointer;
}
#sct2 .workSlide .work-swiper .workwrap {
  border: 1px solid rgba(255, 255, 255, 0.7529411765);
  border-radius: 8px;
  transform: translateY(20px);
  transition: 0.5s;
  position: relative;
  overflow: hidden;
}
#sct2 .workSlide .work-swiper .workwrap p {
  position: relative;
  z-index: 1;
  padding: 0 20px 35%;
  display: flex;
  align-items: center;
  gap: 20px;
  transform: translateY(25%);
  transition: 0.5s;
}
#sct2 .workSlide .work-swiper .workwrap p span {
  color: #fff;
  display: block;
}
#sct2 .workSlide .work-swiper .workwrap p span.num {
  display: inline-block;
  font-size: 100px;
  font-family: "NanumBarunGothic";
  font-weight: 700;
  justify-self: center;
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
  -webkit-text-fill-color: transparent;
  transition: 0.3s;
}
#sct2 .workSlide .work-swiper .workwrap .hoverdir {
  position: absolute;
  border-radius: 10px;
  height: 100%;
  width: 100% !important;
}
#sct2 .workSlide .work-swiper .workwrap .hoverdir .work_thm {
  position: relative;
  width: 100%;
  height: 100%;
}
#sct2 .workSlide .work-swiper .workwrap .hoverdir .work_thm img {
  position: absolute;
  width: 100%;
  height: 100%;
}
#sct2 .workSlide .work-swiper .workwrap .hoverdir .work_thm .dim {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
#sct2 .workSlide .work-swiper .workwrap .hoverdir a {
  height: 100%;
  position: relative;
}
#sct2 .workSlide .work-swiper .workwrap .hoverdir a .hoTit {
  position: absolute;
  width: 100%;
  height: 100%;
}
#sct2 .workSlide .work-swiper .workwrap.on {
  border: none;
  box-shadow: 15px 25px 20px 10px rgba(0, 0, 0, 0.3137254902);
}
#sct2 .workSlide .work-swiper .workwrap.on p {
  transform: translateY(-1%);
}
#sct2 .workSlide .work-swiper .workwrap.on p span.num {
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0);
  transition: 0.3s;
}
#sct2 .workSlide .work-swiper .workwrap.mob_bg.keci_th {
  background: url(../images/thmb/keci.png) no-repeat center/cover;
}
#sct2 .workSlide .work-swiper .workwrap.mob_bg.mf_th {
  background: url(../images/thmb/mofa.png) no-repeat center/cover;
}
#sct2 .workSlide .work-swiper .workwrap.mob_bg.asf_th {
  background: url(../images/thmb/asf.png) no-repeat center/cover;
}
#sct2 .workSlide .work-swiper .workwrap.mob_bg.tta_th {
  background: url(../images/thmb/tta.png) no-repeat center/cover;
}
#sct2 .workSlide .work-swiper .workwrap.mob_bg.ansan_th {
  background: url(../images/thmb/ansanebook.png) no-repeat center/cover;
}
#sct2 .workSlide .work-swiper .workwrap.mob_bg.mvot_th {
  background: url(../images/thmb/mvoting.png) no-repeat center/cover;
}
#sct2 .workSlide .work-swiper .workwrap.mob_bg.yeyak_th {
  background: url(../images/thmb/yeyak.png) no-repeat center/cover;
}
#sct2 .workSlide .work-swiper .workwrap.mob_bg.yums_th {
  background: url(../images/thmb/yum.png) no-repeat center/cover;
}
#sct2 .workSlide .work-swiper .workwrap.mob_bg.del_th {
  background: url(../images/thmb/delmonte.png) no-repeat center/cover;
}
#sct2 .workSlide .work-swiper .workwrap.mob_bg.arte_th {
  background: url(../images/thmb/arte.png) no-repeat center/cover;
}
#sct2 .workSlide .work-swiper .workwrap.mob_bg.hdc_th {
  background: url(../images/thmb/hyundaicard.png) no-repeat center/cover;
}
#sct2 .workSlide .work-swiper .workwrap.mob_bg.lgchem_th {
  background: url(../images/thmb/lgchem.png) no-repeat center/cover;
}
#sct2 .workSlide .work-swiper .workwrap.mob_bg.bam_th {
  background: url(../images/thmb/bam.png) no-repeat center/cover;
}
#sct2 .workSlide .work-swiper .workwrap.mob_bg.nuxe_th {
  background: url(../images/thmb/nuxe.png) no-repeat center/cover;
}
#sct2 .workSlide .work-swiper .workwrap.mob_bg.wmpo_th {
  background: url(../images/thmb/wema.png) no-repeat center/cover;
}
#sct2 .workSlide .work-swiper .workwrap.mob_bg.lotte_th {
  background: url(../images/thmb/lotte.png) no-repeat center/cover;
}
#sct2 .workSlide .work-swiper .workwrap.mob_bg.lush_th {
  background: url(../images/thmb/lush.png) no-repeat center/cover;
}
#sct2 .workSlide .work-swiper .workwrap.mob_bg.lotteht_th {
  background: url(../images/thmb/lottehotel.png) no-repeat center/cover;
}
#sct2 .workSlide .work-swiper .workwrap.mob_bg.coca_th {
  background: url(../images/thmb/cocacola.png) no-repeat center/cover;
}
#sct2 .workSlide .work-swiper .workwrap.mob_bg.rar_th {
  background: url(../images/thmb/roundaround.png) no-repeat center/cover;
}
#sct2 .workSlide .work-swiper .workwrap.mob_bg.bay_th {
  background: url(../images/thmb/bay.png) no-repeat center/cover;
}
#sct2 .workSlide .work-swiper .workwrap.mob_bg.aroma_th {
  background: url(../images/thmb/aromatica.png) no-repeat center/cover;
}
#sct2 .workSlide .work-swiper .workwrap.mob_bg.krispy_th {
  background: url(../images/thmb/krispy.png) no-repeat center/cover;
}
#sct2 .workSlide .work-swiper .workwrap.mob_bg.jomal_th {
  background: url(../images/thmb/jomalone.png) no-repeat center/cover;
}
#sct2 .workSlide .work-swiper .workwrap.mob_bg.sucamp_th {
  background: url(../images/thmb/super.png) no-repeat center/cover;
}
#sct2 .workSlide .work-swiper .workwrap.mob_bg.yes24_th {
  background: url(../images/thmb/yes24.png) no-repeat center/cover;
}
#sct2 .workSlide .work-swiper .workwrap.mob_bg.ace_th {
  background: url(../images/thmb/acebed.png) no-repeat center/cover;
}
#sct2 .workSlide .work-swiper .workwrap.mob_bg.jwe_th {
  background: url(../images/thmb/jwe.png) no-repeat center/cover;
}
#sct2 .workSlide .work-swiper .workwrap.mob_bg.auntie_th {
  background: url(../images/thmb/auntie.png) no-repeat center/cover;
}
#sct2 .workSlide .work-swiper .workwrap.mob_bg.stx_th {
  background: url(../images/thmb/stx.png) no-repeat center/cover;
}
#sct2 .workSlide .work-swiper .workwrap.mob_bg.fss_th {
  background: url(../images/thmb/fursys.png) no-repeat center/cover;
}
#sct2 .workSlide .work-swiper .workwrap.mob_bg.wd_th {
  background: url(../images/thmb/woodam.png) no-repeat center/cover;
}
#sct2 .workSlide .work-swiper .workwrap.mob_bg.mogo_th {
  background: url(../images/thmb/mugo.png) no-repeat center/cover;
}
#sct2 .workSlide .work-swiper .workwrap.mob_bg.br_th {
  background: url(../images/thmb/br.png) no-repeat center/cover;
}
#sct2 .workSlide .work-swiper .workwrap.mob_bg.tbr_th {
  background: url(../images/thmb/tamburins.png) no-repeat center/cover;
}
#sct2 .workSlide .work-swiper .workwrap.mob_bg.sabon_th {
  background: url(../images/thmb/sabon.png) no-repeat center/cover;
}
#sct2 .workSlide .work-swiper .workwrap.mob_bg.dior_th {
  background: url(../images/thmb/dior.png) no-repeat center/cover;
}
#sct2 .workSlide .work-swiper .workwrap.mob_bg.nd_th {
  background: url(../images/thmb/newdin.png) no-repeat center/cover;
}
#sct2 .workSlide .work-swiper .workwrap.mob_bg.inch_th {
  background: url(../images/thmb/incheon.png) no-repeat center/cover;
}
#sct2 .workSlide .work-swiper .workwrap.mob_bg.artisee_th {
  background: url(../images/thmb/artisee.png) no-repeat center/cover;
}
#sct2 .workSlide .work-swiper .workwrap.mob_bg.bnf_th {
  background: url(../images/thmb/benefit.png) no-repeat center/cover;
}
#sct2 .workSlide .work-swiper .workwrap.noho {
  cursor: default;
}
#sct2 .work-swiper img {
  width: 100%;
  border-radius: 10px;
}
#sct2 .swiper-scrollbar {
  width: 100%;
  height: 5px;
  bottom: -100px;
}
#sct2 .txt {
  display: flex;
}

#scrollWrap {
  height: 100%;
  width: 200%;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
}

#sct3 {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.bar_wrap {
  max-width: 800px;
  padding: 20px;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
}

ul.bar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}
ul.bar li {
  text-align: center;
}
ul.bar li p {
  color: #fff;
  font-family: "LeferiPoint-WhiteObliqueA";
}
ul.bar li .progress {
  margin: 20px auto;
  width: 150px;
  height: 150px;
  position: relative;
}
ul.bar li .progress p.per {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

svg {
  stroke-linecap: round;
}

#sct3 {
  background: #000000;
}

#sct4 {
  height: 100vh;
  width: 100%;
}

.abt_wrap {
  width: 100%;
  display: flex;
}
.abt_wrap .abtimg_wrap {
  width: 50%;
  background: #000;
}
.abt_wrap .abt_img {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../images/abt_bl.jpg) no-repeat center/cover;
}
.abt_wrap .abt_img img {
  max-width: 500px;
  width: 80%;
}
.abt_wrap .abt_img02 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../images/abt02_bl.png) no-repeat center/cover;
}
.abt_wrap .abt_img02 img {
  max-width: 500px;
  width: 60%;
}
.abt_wrap .abt_txt {
  width: 50%;
  background: #000;
  padding: 120px 0;
}
.abt_wrap .abt_txt .abt_me {
  padding: 30px 15px 30px 30px;
  width: 80%;
  border: 1px solid #fff;
  border-radius: 25px;
  color: #fff;
  margin: auto;
}
.abt_wrap .abt_txt .abt_me .inner {
  max-height: calc(100vh - 300px);
  overflow-y: scroll;
}
.abt_wrap .abt_txt .abt_me .inner::-webkit-scrollbar {
  width: 7px;
}
.abt_wrap .abt_txt .abt_me .inner::-webkit-scrollbar-thumb {
  background: rgba(248, 244, 244, 0.829);
  border-radius: 16px;
  overflow: hidden;
}
.abt_wrap .abt_txt .abt_me .inner::-webkit-scrollbar-track {
  background: rgba(90, 89, 89, 0.651);
  border-radius: 16px;
}
.abt_wrap .abt_txt .abt_me .inner .abt_title {
  display: block;
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 30px;
}
.abt_wrap .abt_txt .abt_me .inner P {
  font-size: 18px;
}
.abt_wrap .abt_txt .abt_me .inner > p {
  padding: 0 15px 30px 0;
}
.abt_wrap .abt_txt .abt_me .inner ul {
  padding-bottom: 30px;
}
.abt_wrap .abt_txt .abt_me .inner ul li {
  font-size: 18px;
  padding-bottom: 20px;
}
.abt_wrap .abt_txt .abt_me .inner ul li:last-child {
  padding-bottom: 0;
}
.abt_wrap .abt_txt .abt_me .inner ul li span {
  display: block;
}
.abt_wrap .abt_txt .abt_me .inner .flex > div {
  width: 50%;
}

.career li p {
  position: relative;
  padding-left: 15px;
}
.career li p::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.career li span {
  position: relative;
  padding-left: 20px;
}
.career li span::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 1px;
  background: #fff;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

b {
  display: inline-block;
}

#sct5 {
  background: #000;
  padding: 20px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#sct5.active .contact {
  font-family: "pretendard";
  font-size: 85px;
  color: #ffffff;
  font-weight: 900;
  text-align: center;
  display: block;
  transform: translateY(-60px);
  opacity: 0;
  animation: fadeDown 0.6s 0.5s linear forwards;
}
#sct5.active div {
  padding: 50px 0;
  transform: translateY(-60px);
  opacity: 0;
  animation: fadeDown 0.6s 1s linear forwards;
}
#sct5.active div span {
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  display: block;
}

@media screen and (max-width: 1024px) {
  #sct1 .txtFlowWrap {
    transform: rotate(0deg);
    bottom: 200px;
    left: 0;
  }
  #sct1 .txtFlowWrap .wrapBox .flowList .flow {
    font-size: 120px;
  }
  .bar_wrap {
    justify-content: center;
  }
  ul.bar {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 70px 0;
  }
  ul.bar li .progress {
    width: 120px;
    height: 120px;
    margin: 0 auto 20px;
  }
  #scrollWrap {
    flex-direction: column;
    width: 100%;
  }
  .abt_wrap {
    width: 100%;
    flex-wrap: wrap;
  }
  .abt_wrap .abtimg_wrap {
    width: 100%;
  }
  .abt_wrap .abtimg_wrap .abt_img {
    width: 100%;
    height: 70vh;
  }
  .abt_wrap .abtimg_wrap .abt_img img {
    width: 41%;
  }
  .abt_wrap .abtimg_wrap .abt_img02 {
    width: 50%;
    height: 70vh;
  }
  .abt_wrap .abt_txt {
    width: 100%;
  }
  #sct4 {
    height: unset;
  }
}
@media screen and (max-width: 800px) {
  #sct2 .workSlide .work-swiper {
    padding: 60px 24px;
  }
}
@media screen and (max-width: 720px) {
  #sct1 .txtBoxWrap .txtBox {
    font-size: 60px;
  }
  #sct1 .txtBoxWrap .txtbox2 {
    font-size: 22px;
  }
  #sct2 .workSlide .work-swiper .swiper-slide-active .workwrap {
    box-shadow: 15px 25px 20px 10px rgba(0, 0, 0, 0.3137254902);
  }
  #sct2 .workSlide .work-swiper .workwrap {
    border: none;
  }
  #sct2 .workSlide .work-swiper .workwrap::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2196078431);
    top: 0;
    left: 0;
  }
  #sct2 .workSlide .work-swiper .workwrap p {
    transform: translateY(-1%);
  }
  #sct2 .workSlide .work-swiper .workwrap p span.num {
    font-size: 13vw;
    -webkit-text-fill-color: #ffffff;
  }
  ul.bar {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  ul.bar li .progress {
    width: 100px;
    height: 100px;
  }
  .abt_wrap .abtimg_wrap .abt_img img {
    width: 60%;
  }
}
.scroll {
  font-size: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  color: #fff;
  z-index: 999;
}

@media screen and (max-width: 500px) {
  header nav ul li a {
    font-size: 16px;
  }
  #sct1 .scr {
    display: none;
  }
  #sct2 .workSlide .work-swiper .workwrap.on p {
    transform: unset;
  }
  #sct2 .workSlide .work-swiper .workwrap p {
    flex-direction: column;
    transform: unset;
    padding: 0 20px 4.5%;
    align-items: flex-start;
    gap: 10px;
  }
  #sct2 .workSlide .work-swiper .workwrap p span.tBox {
    height: 100px;
  }
  #sct5.active .contact {
    font-size: 70px;
  }
}/*# sourceMappingURL=default.css.map */