.wrap {
    width: 1200px;
    margin: auto;
}

.contents {
    height: 200px;
    border: 1px solid #0f0;
}

.contents img {
    width: 100%;
    vertical-align: top;
}

.title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 15px;
    background: rgba(0, 0, 0, .5);
    color: #fff
}

.menu li {
    display: inline-block;
    background: #ddd;
    border-radius: 10px 10px 0 0;
}

.menu li a {
    border-radius: 10px 10px 0 0;
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
}


.menu li.on a {
    background: #555;
    color: #fff
}

.boardwrap {
    width: 33%;
    position: relative;
}

.boardInner {
    position: relative;
    height: 170px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.gallery {
    background: #fff;
}

.gallery li {
    width: 32%;
}

.board {
    position: absolute;
    display: none;
    width: 100%;
}

.board.on {
    display: block;
}

.board .list {
    display: flex;
    justify-content: space-between;
    padding: 3px
}

.board li p {
    width: 270px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.board li:hover {
    background: #eee;
}


.banner {
    width: 33%;
    position: relative;
    background: url(../images/banner.png);
}

.link {
    width: 33%;
    position: relative;
    background: url(../images/link.png);
}