*{margin: 0;padding: 0;box-sizing: border-box;}
li{list-style: none;}
a{text-decoration: none;color: #333;}
body{color: #333;background: #fff;}

.wrap{width: 1200px;margin: auto}
.flex{display: flex;}
/* 헤더 */
header{width: 100%;height: 100px;justify-content: space-between;border: 1px solid black; align-items: center;}
nav{width: 40%;margin-right: 100px;}
ul.flex{justify-content:space-between ;}
li.main{flex:1; ; align-items: center;
    position: relative;}
li.main>a{display: block;text-align: center;}
ul.sub{display: none;background-color: cornsilk;position: absolute}
li.main:hover>a{background-color: rgb(153, 219, 221);}
li.main:hover .sub{display: block;;width: 100%;}
.sub li:hover{background-color: chartreuse;}

/* 슬라이드 */
.slide{width: 100%;height: 300px;overflow: hidden;}
.slide .imgsl{position: relative;height: 300px;}
.slide .imgsl h2{position: absolute; left: 50%;top: 50%; transform: translate(-50%,-50%);background-color: rgb(211, 207, 207);padding: 10px;}
.imgsl img{display: block;}

/* 공지사항 */
.contents{width: 100%;height: 200px;}
.boardwrap{width: 34%;}
.menu li{display: inline-block; background-color: bisque;padding: 5px;border-radius: 20% 20% 0 0;}
.board li{justify-content: space-between;padding: 3px;width: 100%;}
.board li a{display: flex; width: 100%;justify-content: space-between;}
.board li p{white-space: nowrap;width: 250px;
overflow: hidden;text-overflow: ellipsis;}
.board{position: absolute; display: none;}
.board.on{display: block;width: 100%;background-color: rgb(250, 244, 232)}
.boardinner{position: relative;}



/* 갤러리 */
#gallery img{width: 100%;vertical-align: top;}
#gallery{background-color: rgb(250, 244, 232)}


/* 배너 바로가기*/
.banner,.link{width: 33%;}
.banner{background-image: url(/연습/0120a-1/images/banner.png); overflow: hidden;position: relative;}
h2.title{position: absolute; left:50%;top:50%;transform: translate(-50%,-50%);color: white;background-color: gray;padding: 10px;}
.link{background-image: url(/연습/0120a-1/images/link.png);overflow: hidden;position: relative;}

/* 푸터 */
footer{height: 100px; background-color: beige;}
.footerlogo{width: 20%;height: 100px; align-items: center;}
footer img{width: 200px;}
.copyright{width:60%;flex-wrap: wrap; }
.copyright li{display: block;width: 100%;align-items: center; text-align: center;}

.sns{width: 10%;justify-content: center; align-items: center;margin-left: 50px;}
.sns img{width:100% ;padding: 5px;}