#wrap {
    width: 1200px;
    margin: auto;
}

main div h3 {
    color: tomato;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

div.desc h3 {
    color: rgb(218, 149, 64);
}

.fontcolor {
    font-style: italic;
}

header>ul>li>a {
    color: red;
}

header>ul>li:hover>a {
    text-decoration: underline;
}

main>div:nth-child(1) {
    background: #e7dfea;
}

main>div:nth-child(2) {
    background: #d6ebe2;
}

main>div:nth-child(3) {
    background: #d9eaf1;
}

main>div:nth-child(4) {
    background: #f9eed8;
}

header.inner {
    width: 1200px;
    margin: auto
}

main>div {
    padding: 50px 0;
}

main ul li {
    margin: 20px 0;
}

main ul li p {
    margin-bottom: 10px;
    line-height: 1.2;
}

main ul li>p {
    background: #000;
    color: #fff;
    display: inline-block
}

main ul li {
    display: inline-block;
    width: 24%;
    border: 1px solid #000
}



header .sub {color: chocolate;
;}
header ul .type li{display: inline-block;
    width: 20%;
    border:1px solid #000 ;}