#wrap{margin: auto; border: 1px solid red;}
main .inner{border: 1px solid yellowgreen
    ;}
    div .desc{margin:auto;border: 1px solid violet}
    main ul li{border: 1px solid black; width: 24%;}
    main ul{display: flex;}

    main div h3{color: red; font-size: 20px; font-weight: bold;margin-bottom: 10px;
    text-align: center;}
    .desc h3{color: brown;}

main ul li p{margin-bottom: 10px; line-height: 1.2;}    
main ul li>p{background: black;color: white;}    


header ul li ul li{display: inline-block; width:24%;border: 1px solid black;}